.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/** stop annoying overlay when changing networks */
#webpack-dev-server-client-overlay-div {
  display: none !important;
}
#webpack-dev-server-client-overlay {
  display: none !important;
}
